body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  font-weight: bold;
}

.black-bg {
  background-color: black;
  color: white;
  text-align: center;
}
